@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main> 
        <div class="top-row px-4">
         <nav class="my-2 my-md-0 mr-md-3">
         <a class="p-2" href="/privacy">Privacy Policy</a>
         <a class="p-2" href="/about">About</a>
   
      </nav>

                 </div>
        <article class="content px-4">
           
            @Body
        </article>
         <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Copyright 2025 Tiki Life LLC, not affiliated with Interactive Brokers</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="/privacy">Privacy</a></li>
          <li class="list-inline-item"><a href="/terms">Terms</a></li>
          <li class="list-inline-item"><a href="/support">Support</a></li>
           <li class="list-inline-item"><a target="bob" href="https://www.reddit.com/r/IBLightning/"><img  height="22" src="/favicon.ico"></a> <a target="bob" href="https://www.reddit.com/r/IBLightning/">Community</a></li>
          </ul>
      </footer>
    </main>
    
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

