@page "/FAQ"
@page "/usage"
@page "/about"

<PageTitle>FAQ</PageTitle>

<h1>Frequently Asked Questions</h1>
 <br/>
  <br/>
<h3>    What is the IB Lightning Command Line Interface (CLI)?  </h3><p>
    IB Lightning CLI is a command line application for Interactive Brokers that lets you input trades immediately with a command line, bypassing slow web sites, mouse clicks, and swipes.<br/>
   
    The CLI is a complement to 'Trader Workstation' and all its features.
</p>

<p>
    <h3>   Who is IB Lightning for? </h3>
</p>
<p>IB Lightning is for traders who are new to IB Trader Workstation, Professionals who need more control of their trades, and Developers who need a fast, extensible way to work with the platform.

</p>

 <p>
    <h3>    Why Would I use IB Lighting CLI instead of the API directly? </h3>
 </p>
 <p>The IBKR API is confusing.  You need to code around quite a bit to get it to interact with anything and do anything.  IB Lighting CLI lets you skip straight to more fun tasks like making trades from the command line.
  
 </p>
 
<p>
    <h3> What do I need to use IB Lightning?  </h3></p>
<p>
   While you can run <a href="/Install">IB Lighting CLI</a> on any Windows machine, for the best experience you should have the Interactive Brokers (IBKR) Trader Workstation desktop application and an IBKR account.<br />
   You should also check the "Enable ActiveX and Socket Clients" option in the Trader Workstation API configuration options.  Specifically:<br />
   <div>Click on the File tab in Trader Workstation (TWS). Click on the “Global configuration” under the “Application Settings” section. Click on the “API-Settings” under the “Configuration” folder shown on the left-hand side panel. Check the “Enable ActiveX and Socket Clients” box.  
    <a href="https://ibkrcampus.com/trading-lessons/configuring-ibs-trader-workstation/#:~:text=Click%20on%20the%20File%20tab,ActiveX%20and%20Socket%20Clients%E2%80%9D%20box.">Configuring Trader Workstation for API usage.</a> 
</div>
</p>

<p>
    <h3> Does IB Lightning CLI support mobile or other operating systems besides Windows? </h3></p>
<p>
 No.  Trader Workstation is a Windows desktop application and hence IB Lightning CLI requires the same system.<br/>
</p>

<p>
    <h3>   Can i use Python, another scripting language, or other executables with it? </h3>
</p>
<p>
     Yes!   You can call any command you want from within the command line.
</p>

<p>
<h3>Is it safe to use Lightning CLI? </h3>
</p>
<p>The CLI is a process that runs locally on your computer and interfaces directly with the TraderWorkstation and IB programming interfaces.  There are no remote components or server interactions of any kind aside from license key related functions.</p>



