@page "/"

<PageTitle>IB Lightning</PageTitle>

<div class="row">
    <div class="col">
    <h3>Welcome to IB Lightning, the ultimate command line interface for trading with Interactive Brokers!</h3>
           
        </div>
        <div class="col align-content-center">
        <img height="150" src="mainlogo.png">

        </div>

</div>
<br />
<p>
    IB Lightning is a powerful and easy-to-use tool that lets you execute trades, monitor positions, manage orders, and access market data from your terminal. Whether you are a beginner or a professional trader, you can benefit from the speed, simplicity, and flexibility of IB Lightning.
</p>
<p>
With IB Lightning, you can:
<ul>
    <li>Place trades with a single command, using simple and intuitive syntax.</li>
   <li>View account information.</li>
   <li>Modify, cancel, or transmit orders with a few keystrokes.</li>
   <li>Create and run custom scripts and strategies in Python or other languages.</li>
   <li>Integrate with other applications and services directly via the command line.</li>
</ul>
</p>
<p>
IB Lightning is designed to make your trading experience more efficient and enjoyable. No more dealing with complex and cumbersome GUIs, APIs, or libraries. No more wasting time on tedious and repetitive tasks. No more missing out on opportunities due to slow or unreliable interfaces.
</p><p>
IB Lightning is the ultimate solution for trading with Interactive Brokers. Install it today and see for yourself!
</p>

<div>
<button class="btn btn-primary" onclick='location="/Install"'>Install Now</button>
</div>

