@page "/Privacy"

<PageTitle>Privacy Policy</PageTitle>

<h1>Privacy Policy</h1>
<p>Updated:  December 22, 2023</p>
<p>
    This privacy policy explains how we handle your personal data when you use our application. Please read it carefully before using our application.
</p>
<h3>    What personal data do we collect?</h3>
<p>
    We do not collect personal data from you when you use the application. We do not ask you to provide any information that can identify you, such as your name, email address, phone number, or location. We do not use cookies, trackers, or analytics tools to collect or store your personal data.
</p>
<h3>    How do we use your personal data?</h3>
<p>
    We do not use your personal data, since we do not collect any. We do not share, sell, or disclose your personal data to any third parties, since we do not have any.
</p>
   <h3> How do we protect your personal data?</h3>
<p>
    Your personal data is fully protected, since we do not collect any. We do not store or process your personal data on any servers, devices, or cloud services, since we do not have any.
</p>


<h3> What are your rights regarding your personal data?</h3>
<p>
You do not need to exercise any rights regarding your personal data, since we do not collect any. You do not need to request access, correction, deletion, or restriction of your personal data, since we do not have any. You do not need to withdraw your consent or object to the processing of your personal data, since we do not do any.
</p>
<h3>How to contact us?</h3>

<p>If you have any questions or concerns about this privacy policy, you can contact us via <a href="/Support">Support</a>. </p>