@page "/Support"
@page "/Help"
@page "/Community"


<PageTitle>Support</PageTitle>

<h1>Community and Support</h1>
<h3>Getting help, providing feedback, and connecting with fellow users.</h3>
<p>Updated:  December 22, 2023</p>
<p>Thank you for using <img height="22px" src="/favicon.ico"> IB Lighting CLI.  Support for the app is largely community driven.</p>
<p>The IB Lighting CLI is just launching and has already generated a lot of interest.</p>
<p>The basic features to 'buy' and 'sell' stocks from the command line are just the beginning.</p>
<p>If you have any questions, feedback, feature suggestions, or want to share something cool you're doing with IB Lightining, please head over to the <a href="https://www.reddit.com/r/IBLightning/"><img  height="22px" src="/favicon.ico"></a> <a href="https://www.reddit.com/r/IBLightning/">IB Lightning Reddit Community</a>. </p>
<p>Please review the <a href="/FAQ">FAQs</a> before posting questions and suggest specific FAQ updates to help everyone.</p>
